<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Valve Sizing Calculator</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css">

    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src={{ url_for('static', filename='../static/js/flowComputing.js')}}></script> -->


  </head>
 <!-- <body id="body" style="background-color: rgba(110, 120, 138, 0.438);"> -->
  <body id="body">
  <!-- <header>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#" >
    <img src="../static/docs/valve.png" width="80" height="80" class="d-inline-block align-center" alt="" loading="lazy">
    Flow Valve Computations - 
    <small class="navbar-text">Parameters and Computing for Valve Modeling</small>
  </a>
</nav>
  
  </header>
 -->

 <div class="container-fluid">
<div class="row">
  <div class="col-1" style="background-color: black">
    <br>
    <br>
    <img src="../static/docs/company_logo.png" width="90" height="40" class="d-inline-block align-center" alt="" loading="lazy">
    
  </div>


    <form id="first" method="POST"  >
      <!-- <form id="first" class="needs-validation" method="POST"  > -->
<div class="form-group">
<br>
<br>
         <!--  **************   Client & Eng  data -->
        <div class="col-7">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item active" aria-current="page"><h5>Customer & Header Info</h5></li>
                    </ol>
                  </nav>
                <div class="form-row input_box">
                    <div class="col-5">
                      <label for="customer">Customer</label>
                      <input type="text" class="form-control form-control-sm input_max" id="customer" required>
                      <br>
                    </div>

                    <div class="col-2">
                      <label for="customer">Tag</label>
                      <input type="text" class="form-control form-control-sm input_max" id="tag" required>
                    </div>

                    <div class="col-5">
                        <label for="customer">Engineer</label>
                        <input type="text" class="form-control form-control-sm input_max" id="engineer" required>
                    </div>
                </div>

        </div>  <!-- End CLient & Eng data input col  -->
        <br>
        <!--  **************   Pipe data -->
        <div class="col-7">
        <!-- <div class="form-group col-md-12"> -->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page"><h5>Pipe Data & Fluid Specs</h5></li>
              </ol>
            </nav>

          <div class="form-row input_box">
                <div class="col-2">
                  <label for="inputState">NPS(in) In</label>
                  <select id="inletD" class="form-control form-control-sm">
                    <option selected></option>
                    {% for o in pipe_info %}
                    <option value="{{pipe_OD[o]}}">{{pipe_info[o]}}</option>
                    {% endfor %}
                  </select>
                  <label id="pipe_unit" val="in" for="inputState">NPS(in) Out</label>
                  <select id="outletD" class="form-control form-control-sm">
                    <option selected></option>
                    {% for o in pipe_info %}
                    <option value="{{pipe_OD[o]}}">{{pipe_info[o]}}</option>         
                    {% endfor %}
                  </select>
                  <br>
                  <input class="form-control form-control-sm" id="ODin" disabled hidden>
                </div>
              
                <div class="col-2">
                    <label for="inputState">Schedule</label>
                    <select id="schInlet" class="form-control form-control-sm">
                      <option selected></option>
                    </select>

                    <label for="inputState">Schedule</label>
                    <select id="schOutlet" class="form-control form-control-sm">
                      <option selected></option>
                    </select>
                      <br>
                    <input class="form-control form-control-sm" id="wallThick_in" disabled hidden>
                </div>

            <div class="col-1">   <!-- Empty Col for proper spacing-->
            </div>  
            
            <div class="col-2">
              <label for="inputState">Fluid Type</label>
              <select id="fluid_type" class="form-control form-control-sm">
                <option selected value="liquid">Liquid</option>
                <option value="gas" disabled>Gas</option>
                <option value="steam" disabled>Steam</option>
                <option value="steam" disabled>Two-Phase</option>
              </select>

            </div>

            <div class="col-4">
              <label for="inputState">Fluid Name</label>
              <select id="liquid" class="form-control form-control-sm">
                <option selected></option>
                <option value="water">Water</option>
                <option value="ethanol">Ethanol</option>
                <option role="separator" class="dropdown-divider">---------</option>
                <option value="ethanol">Nuevo Grupo</option>
              </select>
              <small id="LiquidHelp" class="form-text text-muted">While selecting proper fluid, density, vapor pressure, critical pressure and viscosity will be calculated based on process data</small>
            
              <br>
            </div>
          </div>  <!-- End Row Section -->
        </div> <!-- End Pipe data input col  -->
        <br>
        <!--  **************   Process data -->
        <div class="col-7">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page"><h4>Process Data</h4></li>
                </ol>
              </nav>
            <div class="form-row input_box">
                <div class="col-2">
                      <label for="inputState">Flow Unit </label>
                      <select id="flow_unit" class="form-control form-control-sm">
                        <option selected></option>
                        <option value="gpm" selected>gpm</option>
                        <option value="m3_hr">m3 / hr</option>
                        <option value="ton_hr">ton / hr</option>
                        <option value="ft3_hr">ft3 / hr</option>
                        <option value="m3_seg">m3 / seg</option>
                      </select>
                      <br><br>
                      <label for="inputState">Pressure Units </label>
                      <select id="press_unit" class="form-control form-control-sm">
                        <option selected></option>
                        <option value="psi" selected>psi</option>
                        <option value="psig">psig</option>
                        <option value="bar">bar</option>
                        <option value="kPascal">kPascal</option>
                        <option value="Pascal">Pascal</option>
                      </select>
                      <br><br><br>
                      <label for="inputState">Temp Unit </label>
                      <select id="temp_unit" class="form-control form-control-sm">
                        <option selected></option>
                        <option value="C">C</option>
                        <option value="F" selected>F</option>
                        <option value="K">K</option>
                      </select>
                      <br>
                      <button id="compute" type="submit" class="btn btn-primary" data-dismiss ="alert">Compute</button>
                </div>

    <!-- Operational Procces details -->
              <div class="col-2" >

                      <!-- <input type="checkbox" class="form-check-input" id="CheckOper" > -->
                      <label for="flow" >Process Flow (Oper)</label>
                      <input type="number" class="form-control form-control-sm" id="flow_Op" required>

                      <label for="P1">Inlet P</label>
                      <input type="number" class="form-control form-control-sm" id="P1_Op" required>

                      <input type="radio"  class="form-check-input" id="radio_P2" value="in_Outlet" name="Pdrop" checked=true>
                      <label for="P2">Outlet P</label>
                      <input type="number" class="form-control form-control-sm" id="P2_Op" required >

                      <input type="radio"  class="form-check-input" id="radio_deltaP" value="in_deltaP" name="Pdrop" >
                      <label for="deltaP">Pressure Drop</label>
                      <input type="number" class="form-control form-control-sm" id="deltaP_Op" required disabled="disabled">

                      <label for="temp">Process Temperature </label>
                      <input type="number" class="form-control form-control-sm" id="temp_Op" required >
                      <br>
                        <div class="alert alert-dark" role="alert">
                          <h6 class="alert-heading" id="ResultOp"></h6>
                          <hr>
                          <small id="cavIndexOp" class="form-text text-muted" ></small>
                          <hr>
                          <small id="liqPropOp">   </small>
                        </div>
                        
                    </div>
            
                <!-- Min Procces details -->

                <div class="col-2">

                      <input type="checkbox"  class="form-check-input" id="CheckMin" >
                      <label for="flow">Process Flow (Min)</label>
                      <input type="float" class="form-control form-control-sm input_min" id="flow_Min" disabled="disabled" required>

                      <label for="P1">Inlet P</label>
                      <input type="number" class="form-control form-control-sm input_min" id="P1_Min" disabled="disabled" required>

                      <label for="P2">Outlet P</label>
                      <input type="number" class="form-control form-control-sm input_min" id="P2_Min" disabled="disabled" required>

                      <label for="deltaP">Pressure Drop</label>
                      <input type="number" class="form-control form-control-sm input_min" id="deltaP_Min" disabled="disabled" required>

                      <label for="temp">Process Temperature </label>
                      <input type="number" class="form-control form-control-sm input_min" id="temp_Min" disabled="disabled" required>
                      <br>
                      <div class="alert alert-dark" role="alert">
                        <h6 class="alert-heading" id="ResultMin"></h6>
                        <hr>
                        <small id="cavIndexMin" class="form-text text-muted" ></small>
                        <hr>
                        <small id="liqPropMin">   </small>
                      </div>

                </div>
              

                <!-- Maximum Operational flow -->
                <div class="col-2">
                      <input type="checkbox"  class="form-check-input" id="CheckMax">
                      <label for="flow">Process Flow (Max)</label>

                      <input type="number" class="form-control form-control-sm input_max" id="flow_Max"  disabled="disabled" required>

                      <label for="P1">Inlet P</label>
                      <input type="number" class="form-control form-control-sm input_max" id="P1_Max" disabled="disabled" required>

                      <label for="P2">Outlet P</label>
                      <input type="number" class="form-control form-control-sm input_max" id="P2_Max" disabled="disabled" required>

                      <label for="deltaP">Pressure Drop</label>
                      <input type="number" class="form-control form-control-sm input_max" id="deltaP_Max" disabled="disabled" required>

                      <label for="temp">Process Temperature </label>
                      <input type="number" class="form-control form-control-sm input_max" id="temp_Max" disabled="disabled" required>
                      <br>
                      <div class="alert alert-dark" role="alert">
                        <h6 class="alert-heading" id="ResultMax"></h6>
                        <hr>
                        <small id="cavIndexMax" class="form-text text-muted" ></small>
                        <hr>
                        <small id="liqPropMax">   </small>
                      </div>
                </div>


            </div>  <!-- End Row Section for Process Data -->
        </div> <!-- End Process data input col-->
            
          

        <!-- *********************  Results Data Display (Table & Graph)-->
          <div class="col-6">
            <br>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <br>
                  <li class="breadcrumb-item active" aria-current="page"><h4>Results</h4></li>
                </ol>
              </nav>
            
            
            
          <div class="form-row input_box">
            <br>
            <div id="table_results" class="col-sm">
              <table class="table">
                <caption>Process Data</caption>
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Operational
                    </th>
                    <th scope="col">Min
                    </th>
                    <th scope="col">Max
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">required Cv</th>
                    <td id="reqCv_Op">-</td>
                    <td id="reqCv_Min">-</td>
                    <td id="reqCv_Max">-</td>
                  </tr>
                  <tr>
                    <th scope="row">% Travel</th>
                    <td id='travelOp'>-</td>
                    <td id='travelMin'>-</td>
                    <td id='travelMax'>-</td>
                  </tr>
                  <tr>
                    <th scope="row">% Cv</th>
                    <td id='percentageCvOp' >-</td>
                    <td id='percentageCvMin'>-</td>
                    <td id='percentageCvMax'>-</td>
                  </tr>
                  <tr>
                    <th scope="row">FL</th>
                    <td id='FLOp' >-</td>
                    <td id='FLMin'>-</td>
                    <td id='FLMax'>-</td>
                  </tr>
                  <tr>
                    <th scope="row">critical FL</th>
                    <td id='FL_PvcOp'>-</td>
                    <td id='FL_PvcMin'>-</td>
                    <td id='FL_PvcMax'>-</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-sm centered">
              <img id='image' src="../static/docs/grafico.png" class="img-fluid rounded  " alt="Responsive image" hidden>
              <!-- <img id='image' src="../static/docs/Spinner-0.7s-200px.gif" class="img-fluid rounded" alt="Responsive image" hidden> -->
            </div>
            
          </div> <!-- End Row Section for Results-->
        </div>  <!-- End Results data show (no input here)-->

      </div> <!-- End Main Form - Group-->
      <!-- End Container  -->
      </form>


      

    <div class="col-2">
      <br>
      <br>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page"><h4>Valve Selection</h4></li>
        </ol>
      </nav>
      <div class="form-row input_box" >

      <div class="col-3">
        <br>
        <label for="inputState">Valve Series</label>
      </div>
      <div class="col-9">
        <br>
         <select id="valve_model" class="form-control form-control-sm">
             <option disabled selected>Select Valve</option>

             {% for o in data %}
             <option value="{{o.value}}">{{o.name}}</option>
             {% endfor %}

         </select>
        </div>

        
        <div class="col-3">
          <br>
         <label for="inputState">Valve Size</label>
        </div>
        <div class="col-9">
          <br>
         <select id="valve_size" class="form-control form-control-sm">
         <option disabled selected>Select Valve</option>
         </select>  
         </div>

         
         <div class="col-3">
           <br>
         <label id="ratedCv_label" for="inputState" hidden>Rated Cv</label>
        </div>
        <div class="col-9">
          <br>
         <select id="ratedCv" class="form-control form-control-sm" hidden>
             <option disabled selected>Select Rated Cv</option>
         </select>
        </div>

        <div class="col-3">
          <br>
         <label for="inputState">Trim Size</label>
        </div>
        <div class="col-9">
          <br>
         <select id="trim_size" class="form-control form-control-sm">
         <option disabled selected>Select</option>
         </select>
        </div>


        <div class="col-3">
          <br>
         <label for="inputState">Trim Type</label>
        </div>
        <div class="col-9">
          <br>
         <select id="trim_type" class="form-control form-control-sm">
         <option disabled selected>Select</option>
         </select>
        </div>

        <div class="col-3">
          <br>
         <label for="inputState">Flow Chart</label>
         </div>
         <div class="col-9">
          <br>
         <select id="flow_chart" class="form-control form-control-sm">
         <option disabled selected>Select</option>
         </select>
        </div>

        <div class="col-3">
          <br>
         <label for="inputState">Flow Direction</label>
         </div>
         <div class="col-9">
          <br>
         <select id="flow_direction" class="form-control form-control-sm">
         <option disabled selected>Select</option>
         </select>
         </div>

        <div class="col-3">
          <br>
         <label for="inputState">Bonnet Type</label>
         </div>
         <div class="col-9">
          <br>
         <select id="bonnet_type" class="form-control form-control-sm">
         <option disabled selected>Select</option>
         </select>
         </div>

         <div class="col-3">
          <br>
         <label for="inputState">Plug Type</label>
         </div>
         <div class="col-9">
          <br>
         <select id="plug_type" class="form-control form-control-sm">
         <option disabled selected>Select</option>
         </select>
         </div>

         <div class="col-3">
          <br>
         <label for="inputState">Plug Material</label>
         </div>
         <div class="col-9">
          <br>
         <select id="plug_material" class="form-control form-control-sm">
         <option disabled selected>Select</option>
         </select>
        </div>

        <div class="col-3">
          <br>
         <label for="inputState">Cage Type</label>
         </div>
         <div class="col-9">
          <br>
         <select id="cage_type" class="form-control form-control-sm">
         <option disabled selected>Select</option>
         </select>
         </div>

         <div class="col-3">
          <br>
         <label for="inputState">Cage Mat</label>
         </div>
         <div class="col-9">
          <br>
         <select id="cage_material" class="form-control form-control-sm">
         <option disabled selected>Select</option>
         </select>
         </div>

         <div class="col-3">
          <br>
         <label for="inputState">Seat Mat</label>
         </div>
         <div class="col-9">
          <br>
         <select id="seat_material" class="form-control form-control-sm">
         <option disabled selected>Select</option>
         </select>
         <br>
         </div>

        <br>

      </div>   
      <!-- final row section -->
      <br>
      <br>
         <button id="valve_sizing" type="submit_other" class="btn btn-primary" data-dismiss ="alert" hidden>Apply Valve Sizing</button>
    </div>

     <div class="col-2 input_box">
      <br>
      <br>
      <br>
      <img src="../static/docs/valve_image.jpg" width="200" height="450" class="centered" alt="" loading="lazy">
    </div>

  </div>  <!-- end outer grid row-->
  </div>  <!-- end outer container  -->
  

  <footer>
    <br>
     <nav class="navbar navbar-light" style="background-color: #595c5c;">
      <img src="../static/docs/coati.jpg" width="60" height="60" class="d-inline-block align-rigth" alt="" loading="lazy">
      <h5 class="align-left" > © Developed by germanbarboza@gmail.com - 2020 </h5>
      <h6 class="d-inline-block align-left">
      All calculations based on ISA-75.01.01-2007 (60534-2-1 Mod) <br>
      Flow Equations for Sizing Control Valves </h6>
    </nav>
  </footer>
            
            <!-- jQuery (Bootstrap JS plugins depend on it) -->
  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/bootstrap.js"></script>
  <script src="../static/js/script.js"></script>
  <script src="../static/js/bootstrap.bundle.js"></script>
  <script src="../static/js/jquery-3.5.1.slim.min.js"></script>
  <script src="../static/js/flowComputing.js"></script>

  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> -->

</body>

</html>
